In [85]:
import pandas as pd

In [151]:
ips = pd.read_csv('sampleips.csv')
ips.head()

,Customer Segment,Product Category,Product Sub-Category,Product Container,Ips
0,Consumer,Furniture,Bookcases,Jumbo Box,aaa__bbb1
1,Consumer,Furniture,Chairs & Chairmats,Jumbo Drum,aaa__bbb2
2,Consumer,Furniture,Chairs & Chairmats,Large Box,aaa__bbb3
3,Consumer,Furniture,Chairs & Chairmats,Medium Box,aaa__bbb4
4,Consumer,Furniture,Office Furnishings,Jumbo Drum,aaa__bbb5

In [152]:
new = ips["Ips"].str.split("__", expand = False)
myMax = max(new.str.len())
myMax

4

In [153]:
new = ips["Ips"].str.split("__", expand = True)

In [154]:
for i in range(myMax):
    myColName = "Part_" + str(i)
    ips[myColName] = new[i]
    #print(new[i])

In [155]:
ips.head()

,Customer Segment,Product Category,Product Sub-Category,Product Container,Ips,Part_0,Part_1,Part_2,Part_3
0,Consumer,Furniture,Bookcases,Jumbo Box,aaa__bbb1,aaa,bbb1,None,None
1,Consumer,Furniture,Chairs & Chairmats,Jumbo Drum,aaa__bbb2,aaa,bbb2,None,None
2,Consumer,Furniture,Chairs & Chairmats,Large Box,aaa__bbb3,aaa,bbb3,None,None
3,Consumer,Furniture,Chairs & Chairmats,Medium Box,aaa__bbb4,aaa,bbb4,None,None
4,Consumer,Furniture,Office Furnishings,Jumbo Drum,aaa__bbb5,aaa,bbb5,None,None

In [156]:
ips.set_index(['Customer Segment','Product Category','Product Sub-Category','Product Container'], inplace = True)

In [157]:
ips.drop('Ips', axis = 1, inplace = True)

In [170]:
fin = pd.DataFrame(ips.stack())
fin.columns = ['Ips']
fin.head()

                                                                                  Ips
Customer Segment Product Category Product Sub-Category Product Container
Consumer         Furniture        Bookcases            Jumbo Box         Part_0   aaa
                                                                         Part_1  bbb1
                                  Chairs & Chairmats   Jumbo Drum        Part_0   aaa
                                                                         Part_1  bbb2
                                                       Large Box         Part_0   aaa

In [171]:
fin.to_csv('fin.csv')