In [1]:
import pandas as pd

In [2]:
dat=pd.read_csv("titanic.csv")
dat.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0            1         0       3    male  22.0      1      0        S
1            2         1       1  female  38.0      1      0        C
2            3         1       3  female  26.0      0      0        S
3            4         1       1  female  35.0      1      0        S
4            5         0       3    male  35.0      0      0        S

In [ ]:
dat.describe()

In [4]:
dat['Age'] = dat['Age'].fillna(dat['Age'].median())

In [11]:
X=dat.drop(["PassengerId","Survived"],axis=1)

In [12]:
X=pd.get_dummies(X, drop_first = True)

In [13]:
X.head()

   Pclass   Age  SibSp  Parch  Sex_male  Embarked_Q  Embarked_S
0       3  22.0      1      0         1           0           1
1       1  38.0      1      0         0           0           0
2       3  26.0      0      0         0           0           1
3       1  35.0      1      0         0           0           1
4       3  35.0      0      0         1           0           1

In [8]:
y = dat['Survived']

In [14]:
import sklearn.model_selection as model_selection
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.2,random_state=200)

In [15]:
import sklearn.tree as tree
clf=tree.DecisionTreeClassifier(max_depth=10,random_state=200)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.7597765363128491

In [16]:
clf=tree.DecisionTreeClassifier(max_depth=10,random_state=200)

In [20]:
mod=model_selection.GridSearchCV(clf,param_grid={'max_depth':[10,15,20,25,30,35,40,45,50,60,70,100,110,130,150,180,200],'min_samples_leaf':[1,2,3,4,5], 'criterion':['gini','entropy']})
mod.fit(X_train,y_train)

C:\Users\fxnik\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1943: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=200,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'max_depth': [10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 100, 110, 130, 150, 180, 200], 'min_samples_leaf': [1, 2, 3, 4, 5]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [21]:
mod.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=200,
            splitter='best')

In [22]:
mod.best_score_

0.8174157303370787